<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activo Fijo - Inicio</title>
    <!-- Tailwind CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-8">Gestión de Activos Fijos</h1>
      <a
        href="#"
        th:href="@{/activos/listar}"
        class="bg-blue-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      >
        Ver Lista de Activos Fijos
      </a>
    </div>
  </body>
</html>
